@import url('https://fonts.googleapis.com/css2?family=Chocolate+Classical+Sans&family=Rakkas&display=swap');

/* Variáveis */
:root {
    --primeira-color: #0a1f96;
    --segunda-color: #b8251b;
    --text-color: #024959;
    --background-color: #ffffff;
    --button-hover: #deff4c;
    --font-body: "Chocolate Classical Sans", serif;
    --font-titulo: "Rakkas", serif;
}




* {
    margin: 30;
    padding: 30;
    box-sizing: border-box;
    font-family: var(--font-body);
    color: var(--primeira-color)
}


body {
    background-color: var(--background-color);
    color: var(--text-color);
    line-height: 1.6;
}

h3 {
    margin-top: 25px;
    color: var(--segunda-color)
}

p {
    margin-top: 20px;
    color: var(--segunda-color)
}

img {
    max-width: 90%;
    
}


@media (max-width: 768px) {
    .conteudo {
        width: 90%;
     

            }

    nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }

    nav ul li {
        margin: 5px 0;
    }

    .cta-button {
        width: 100%;
   
    }
}
