



@import url('https://fonts.googleapis.com/css2?family=Edu+SA+Hand:wght@400..700&display=swap');




/* Variáveis */
:root {
    --azul: #0a1f96;
    --vermelho: #b8251b;
    --text-color: #024959;
    --background-color: #ffffff;
    --amarelo: #deff4c;
    --font-body: Hand;
    --font-titulo: "Rakkas", serif;
    --borda: #0b0c5e;
}




* {
    margin: 30;
    padding: 30;
    box-sizing: border-box;
    font-family: var(--font-body);
    color: var(--azul)
 
}


body {
   
    background-color: var(--background-color);
    color: var(--text-color);
    line-height: 1.2;
  
}

h3 {
    margin-top: 25px;
    color: var(--vermelho)
}


p {
    margin-top: 20px;
    color: var(--vermelho)
}

img {
    
    max-width: 100%;
    border-top: 8px solid var(--borda);
    border: 8px solid var(--borda);
    margin: 8;
}


@media (max-width: 798px) {
    .conteudo {
        width: 90%;
     

            }

    nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }

    nav ul li {
        margin: 5px 0;
    }

    .cta-button {
        width: 100%;
   
    }
}
